:root {
  --black: 0 0% 0%;
  --white: 0 0% 100%;
  --gray-50: 0 0% 90%;
  --gray-100: 180 1% 81%;
  --gray-200: 240 1% 61%;
  --gray-300: 210 1% 42%;
  --gray-400: 240 1% 27%;
  --gray-500: 210 2% 19%;
  --gray-600: 220 5% 11%;
  --gray-700: 220 8% 7%;
  --gray-800: 220 11% 5%;
  --gray-900: 220 18% 3%;
  --red-50: 0 86% 97%;
  --red-100: 0 93% 94%;
  --red-200: 0 96% 89%;
  --red-300: 0 94% 82%;
  --red-400: 0 91% 71%;
  --red-500: 0 84% 60%;
  --red-600: 0 72% 51%;
  --red-700: 0 74% 42%;
  --red-800: 0 70% 35%;
  --red-900: 0 63% 31%;
  --orange-50: 33 100% 96%;
  --orange-100: 34 100% 92%;
  --orange-200: 32 98% 83%;
  --orange-300: 31 97% 72%;
  --orange-400: 27 96% 61%;
  --orange-500: 25 95% 53%;
  --orange-600: 21 90% 48%;
  --orange-700: 17 88% 40%;
  --orange-800: 15 79% 34%;
  --orange-900: 15 75% 28%;
  --yellow-50: 55 92% 95%;
  --yellow-100: 55 97% 88%;
  --yellow-200: 53 98% 77%;
  --yellow-300: 50 98% 64%;
  --yellow-400: 48 96% 53%;
  --yellow-500: 45 93% 47%;
  --yellow-600: 41 96% 40%;
  --yellow-700: 35 92% 33%;
  --yellow-800: 32 81% 29%;
  --yellow-900: 28 73% 26%;
  --green-50: 138 76% 97%;
  --green-100: 141 84% 93%;
  --green-200: 141 79% 85%;
  --green-300: 142 77% 73%;
  --green-400: 142 69% 58%;
  --green-500: 142 71% 45%;
  --green-600: 142 76% 36%;
  --green-700: 142 72% 29%;
  --green-800: 143 64% 24%;
  --green-900: 144 61% 20%;
  --teal-50: 166 76% 97%;
  --teal-100: 167 85% 89%;
  --teal-200: 168 84% 78%;
  --teal-300: 171 77% 64%;
  --teal-400: 172 66% 50%;
  --teal-500: 173 80% 40%;
  --teal-600: 175 84% 32%;
  --teal-700: 175 77% 26%;
  --teal-800: 176 69% 22%;
  --teal-900: 176 61% 19%;
  --blue-50: 214 100% 97%;
  --blue-100: 214 95% 93%;
  --blue-200: 213 97% 87%;
  --blue-300: 212 96% 78%;
  --blue-400: 213 94% 68%;
  --blue-500: 217 91% 60%;
  --blue-600: 221 83% 53%;
  --blue-700: 224 76% 48%;
  --blue-800: 226 71% 40%;
  --blue-900: 224 64% 33%;
  --indigo-50: 226 100% 97%;
  --indigo-100: 226 100% 94%;
  --indigo-200: 228 96% 89%;
  --indigo-300: 230 94% 82%;
  --indigo-400: 234 89% 74%;
  --indigo-500: 239 84% 67%;
  --indigo-600: 243 75% 59%;
  --indigo-700: 245 58% 51%;
  --indigo-800: 244 55% 41%;
  --indigo-900: 242 47% 34%;
  --purple-50: 270 100% 98%;
  --purple-100: 269 100% 95%;
  --purple-200: 269 100% 92%;
  --purple-300: 269 97% 85%;
  --purple-400: 270 95% 75%;
  --purple-500: 271 91% 65%;
  --purple-600: 271 81% 56%;
  --purple-700: 272 72% 47%;
  --purple-800: 273 67% 39%;
  --purple-900: 274 66% 32%;
  --pink-50: 327 73% 97%;
  --pink-100: 326 78% 95%;
  --pink-200: 326 85% 90%;
  --pink-300: 327 87% 82%;
  --pink-400: 329 86% 70%;
  --pink-500: 330 81% 60%;
  --pink-600: 333 71% 51%;
  --pink-700: 335 78% 42%;
  --pink-800: 336 74% 35%;
  --pink-900: 336 69% 30%;
  --rose-50: 356 100% 97%;
  --rose-100: 356 100% 95%;
  --rose-200: 353 96% 90%;
  --rose-300: 353 96% 82%;
  --rose-400: 351 95% 71%;
  --rose-500: 350 89% 60%;
  --rose-600: 347 77% 50%;
  --rose-700: 345 83% 41%;
  --rose-800: 343 80% 35%;
  --rose-900: 342 75% 30%;
  --fuchsia-50: 289 100% 98%;
  --fuchsia-100: 287 100% 95%;
  --fuchsia-200: 288 96% 91%;
  --fuchsia-300: 291 93% 83%;
  --fuchsia-400: 292 91% 73%;
  --fuchsia-500: 292 84% 61%;
  --fuchsia-600: 293 69% 49%;
  --fuchsia-700: 295 72% 40%;
  --fuchsia-800: 295 70% 33%;
  --fuchsia-900: 297 64% 28%;
  --violet-50: 250 100% 98%;
  --violet-100: 251 91% 95%;
  --violet-200: 251 95% 92%;
  --violet-300: 252 95% 85%;
  --violet-400: 255 92% 76%;
  --violet-500: 258 90% 66%;
  --violet-600: 262 83% 58%;
  --violet-700: 263 70% 50%;
  --violet-800: 263 69% 42%;
  --violet-900: 264 67% 35%;
  --light-blue-50: 204 100% 97%;
  --light-blue-100: 204 94% 94%;
  --light-blue-200: 201 94% 86%;
  --light-blue-300: 199 95% 74%;
  --light-blue-400: 198 93% 60%;
  --light-blue-500: 199 89% 48%;
  --light-blue-600: 200 98% 39%;
  --light-blue-700: 201 96% 32%;
  --light-blue-800: 201 90% 27%;
  --light-blue-900: 202 80% 24%;
  --cyan-50: 183 100% 96%;
  --cyan-100: 185 96% 90%;
  --cyan-200: 186 94% 82%;
  --cyan-300: 187 92% 69%;
  --cyan-400: 188 86% 53%;
  --cyan-500: 189 94% 43%;
  --cyan-600: 192 91% 36%;
  --cyan-700: 193 82% 31%;
  --cyan-800: 194 70% 27%;
  --cyan-900: 196 64% 24%;
  --emerald-50: 152 81% 96%;
  --emerald-100: 149 80% 90%;
  --emerald-200: 152 76% 80%;
  --emerald-300: 156 72% 67%;
  --emerald-400: 158 64% 52%;
  --emerald-500: 160 84% 39%;
  --emerald-600: 161 94% 30%;
  --emerald-700: 163 94% 24%;
  --emerald-800: 163 88% 20%;
  --emerald-900: 164 86% 16%;
  --lime-50: 78 92% 95%;
  --lime-100: 80 89% 89%;
  --lime-200: 81 88% 80%;
  --lime-300: 82 85% 67%;
  --lime-400: 83 78% 55%;
  --lime-500: 84 81% 44%;
  --lime-600: 85 85% 35%;
  --lime-700: 86 78% 27%;
  --lime-800: 86 69% 23%;
  --lime-900: 88 61% 20%;
  --amber-50: 48 100% 96%;
  --amber-100: 48 96% 89%;
  --amber-200: 48 97% 77%;
  --amber-300: 46 97% 65%;
  --amber-400: 43 96% 56%;
  --amber-500: 38 92% 50%;
  --amber-600: 32 95% 44%;
  --amber-700: 26 90% 37%;
  --amber-800: 23 83% 31%;
  --amber-900: 22 78% 26%;
  --warm-gray-50: 60 9% 98%;
  --warm-gray-100: 60 5% 96%;
  --warm-gray-200: 20 6% 90%;
  --warm-gray-300: 24 6% 83%;
  --warm-gray-400: 24 5% 64%;
  --warm-gray-500: 25 5% 45%;
  --warm-gray-600: 33 5% 32%;
  --warm-gray-700: 30 6% 25%;
  --warm-gray-800: 12 6% 15%;
  --warm-gray-900: 24 10% 10%;
  --true-gray-50: 0 0% 98%;
  --true-gray-100: 0 0% 96%;
  --true-gray-200: 0 0% 90%;
  --true-gray-300: 0 0% 83%;
  --true-gray-400: 0 0% 64%;
  --true-gray-500: 0 0% 45%;
  --true-gray-600: 0 0% 32%;
  --true-gray-700: 0 0% 25%;
  --true-gray-800: 0 0% 15%;
  --true-gray-900: 0 0% 9%;
  --cool-gray-50: 210 20% 98%;
  --cool-gray-100: 220 14% 96%;
  --cool-gray-200: 220 13% 91%;
  --cool-gray-300: 216 12% 84%;
  --cool-gray-400: 218 11% 65%;
  --cool-gray-500: 220 9% 46%;
  --cool-gray-600: 215 14% 34%;
  --cool-gray-700: 217 19% 27%;
  --cool-gray-800: 215 28% 17%;
  --cool-gray-900: 221 39% 11%;
  --blue-gray-50: 210 40% 98%;
  --blue-gray-100: 210 40% 96%;
  --blue-gray-200: 214 32% 91%;
  --blue-gray-300: 213 27% 84%;
  --blue-gray-400: 215 20% 65%;
  --blue-gray-500: 215 16% 47%;
  --blue-gray-600: 215 19% 35%;
  --blue-gray-700: 215 25% 27%;
  --blue-gray-800: 217 33% 17%;
  --blue-gray-900: 222 47% 11%;
  --brand-primary-50: 202 15% 86%;
  --brand-primary-100: 206 15% 73%;
  --brand-primary-200: 204 15% 60%;
  --brand-primary-300: 205 17% 47%;
  --brand-primary-400: 204 29% 34%;
  --brand-primary-500: 200 60% 21%;
  --brand-primary-600: 201 52% 18%;
  --brand-primary-700: 202 45% 14%;
  --brand-primary-800: 201 37% 11%;
  --brand-primary-900: 202 33% 6%;
  --brand-secondary-50: 187 32% 90%;
  --brand-secondary-100: 189 31% 79%;
  --brand-secondary-200: 187 32% 69%;
  --brand-secondary-300: 188 33% 59%;
  --brand-secondary-400: 188 37% 48%;
  --brand-secondary-500: 186 86% 32%;
  --brand-secondary-600: 187 69% 27%;
  --brand-secondary-700: 188 56% 22%;
  --brand-secondary-800: 188 44% 16%;
  --brand-secondary-900: 188 31% 10%;
  --brand-accent-50: 37 100% 94%;
  --brand-accent-100: 37 100% 88%;
  --brand-accent-200: 37 100% 82%;
  --brand-accent-300: 37 100% 76%;
  --brand-accent-400: 37 99% 69%;
  --brand-accent-500: 38 95% 62%;
  --brand-accent-600: 38 56% 49%;
  --brand-accent-700: 38 53% 37%;
  --brand-accent-800: 37 49% 25%;
  --brand-accent-900: 36 40% 14%;
}
